.container__nav {
  margin-left: 100px;
}

.container__nav ul {
  display: flex;
  list-style: none;
}

.container__nav li {
  margin-right: 30px;
}
.container__nav li:hover {
  background-color: rgb(153, 153, 153);
}

.container__nav a {
  padding: 8px 10px;
  text-decoration: none;
}
